---
title: Summaries
---

<div class="blog-style" hidden>
    <ul>
        {% for paper in site.summaries %}
        <li id="post-{{forloop.index}}">
            <h2 class="row justify-content-center"><a href="{{ paper.url }}">{{ paper.title }}</a></h2>

            <div class="row justify-content-center item-text" id="paper-authors-{{forloop.index}}">
                <p>{{ paper.authors }}</p>
            </div>

            <div class="row justify-content-center item-text" id="paper-venue-{{forloop.index}}">
                <p>{{ paper.venue }} - {{ paper.year }}</p>
            </div>

            <div class="row justify-content-center item-text tags" id="paper-tags-{{forloop.index}}">
                <p>Tags: </p>
                {% for tag in paper.tags %}
                <a href="{{site.baseurl}}/categories/#{{tag|slugize}}">{{tag}}</a>
                {% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </div>
        </li>
        {% unless forloop.last %}
        <hr class="summaries"/>
        {% endunless %}
        {% endfor %}
    </ul>
</div>


