
<p class="font-weight-bold">Hello!</p>I am a PhD candidate at <a href="https://www.tudelft.nl/en/" target="_blank">TU Delft</a> in the
<a href="http://www.wis.ewi.tudelft.nl/" target="_blank">Web Information Systems</a> group and I'm working on Interactive
Data Discovery in Data Lakes under the supervision of <a href="http://asterios.katsifodimos.com/" target="_blank">Asterios Katsifodimos</a>.

<hr/>

I grew up in Caracal, a small town in Romania and I currently live in {{ include.city }}. I am passionate about
sports and lately I've been into body weight training, cycling and running. Current obsession: K-pop.

<hr/>

Get in touch: andradenis.ionescu[at]gmail.com



<!--    <p class="font-weight-bold">Education:</p> I have a master in Data Science from TU Delft and a bachelor in-->
<!--    Distributed and Parallel Computing from <a href="https://upb.ro/en/">UPB</a>.-->
<!--    <hr/>-->
<!--    <p class="font-weight-bold">Professional Experience:</p> Worked during half of my bachelor and all master as a-->
<!--    (Full-stack) Software Engineer.-->
