<p class="font-weight-bold">Hello!</p>I am a PhD candidate at <a href="https://www.tudelft.nl/en/" target="_blank">TU
    Delft</a> in the
<a href="http://www.wis.ewi.tudelft.nl/" target="_blank">Web Information
    Systems</a> group and I'm supervised by <a
        href="http://asterios.katsifodimos.com/" target="_blank">Asterios
    Katsifodimos</a> and <a
        href="https://rihanhai.com" target="_blank">Rihan
    Hai</a>.
<br/><br/>

I am interested in data market places and dataset augmentation. My current project is on feature discovery to improve ML performance.

<hr/>

I grew up in Caracal, a small town in Romania and I currently live in {{ include.city }}. I am passionate about
sports, and baking and I love spending time outdoors.

<hr/>

<p> Get in touch: </p>

<span id="contact">
    <a class="pr-2" href="https://twitter.com/andradenisio" target="_blank" title="Twitter">
        <i class="fa fa-twitter"></i>
    </a>

    <a class="pr-2" href="https://www.linkedin.com/in/andra-denis-ionescu-701857b0/"
       target="_blank" title="LinkedIn">
        <i class="fa fa-linkedin"></i>
    </a>

    <a class="pr-2" href="mailto:andradenis.ionescu@gmail.com"
       target="_blank" title="Email">
        <i class="fa fa-envelope"></i>
    </a>
</span>


<!--    <p class="font-weight-bold">Education:</p> I have a master in Data Science from TU Delft and a bachelor in-->
<!--    Distributed and Parallel Computing from <a href="https://upb.ro/en/">UPB</a>.-->
<!--    <hr/>-->
<!--    <p class="font-weight-bold">Professional Experience:</p> Worked during half of my bachelor and all master as a-->
<!--    (Full-stack) Software Engineer.-->
