<div class="content navigation pr-0">
    <div class="col-12">
        {% for item in site.data.navigation %}
        <div class="row pl-30 mt-5">
            <h5><a href="{{item.link}}">{{ item.name }}</a></h5>
        </div>
        {% endfor %}

        <div class="row mt-4" style="font-size: 3em;">
            <div class="col-12">
                <div class="row pl-30">
                    <a class="" href="https://github.com/AndraIonescu" target="_blank" title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


