<div class="content navigation pr-0 mt-5">
    <div class="col-12">
        {% for item in site.data.navigation %}
        <div class="row pl-30 mt-5">
            <h5><a href="{{item.link}}">{{ item.name }}</a></h5>
        </div>
        {% endfor %}

        <div class="row mt-5" style="font-size: 3em;">
            <div class="col-12">
                <div class="row pl-30">
                    <a class="pr-2" href="https://twitter.com/andradenisio" target="_blank" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>

                <div class="row pl-30">
                    <a class="pr-2 pl-2" href="https://www.linkedin.com/in/andra-denis-ionescu-701857b0/"
                       target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>

                <div class="row pl-30">
                    <a class="pl-2" href="https://github.com/AndraIonescu" target="_blank" title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


