@charset "UTF-8";


@media screen and (max-width: 768px) {
  h5 {
    font-size: .8rem !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.24rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  #colored {
    font-size: .7rem;
  }

  .navigation {
    width: 30%;
    height: 100%;
    float: left;
  }

  .my-pic {
    margin-top: 5vh;
    height: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 100%;
    width: 20%;
    float: left;
  }

  .my-pic {
    height: 80vh;
  }
}

.container {
  min-width: 70vw;
  font-family: Verdana, serif;
}

.current {
  color: green;
}

.canvas-container {
  min-height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}



.content {
  min-height: 80vh;
}

.no-border {
  border: 0 !important;
  z-index: 1;
}

#colored {
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-color: #f4cae0;

}

.my-pic {
  background-image: url("/assets/images/me_pro.jpg");
  background-size: cover;
  background-position: left;
}

.white-bg {
  background-color: white;
}

.mt-10 {
  margin-top: 10vh;
}

.mt-25vh {
  margin-top: 25vh;
}

.mt-35vh {
  margin-top: 35vh;
}

.h-10 {
  height: 10%;
}
.height-inherit {
  height: inherit;
}

.pl-30 {
  padding-left: 30% !important;
}

.blog-style {
  margin-top: 10vh;
  padding: 1vh 2vw;
}

.mb10 {
  margin-bottom: 10vh;
}

.mb3 {
  margin-bottom: 3vh;
}

ul {
  list-style-type: none;
}

.item-text {
  padding: 0 3vw;
}

div a {
  color: #b7306b;
}

div a:hover {
  color: #fdbad3;
}

.post-padding {
  padding: 1vh 2vw;
}

.post-content-padding {
  padding: 0 4vw 0 3vw;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  background-color: #b7306b;
  color: white;
  font-weight: bold;
}