<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
</head>
<body id="colored">
<div class="container">
    <div class="canvas">
        {% include navigation.html %}
        <div class="content align-self-center white-bg">
            <div class="row h-100 justify-content-center">
                {{ content }}
            </div>
        </div>
    </div>
</div>
</body>
</html>